<div class="footer">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-4">
        <div class="footer-text text-center text-white py-5">
          <h2>LOCATION</h2>
        <h6 class="fw-normal mb-3">2215 John Daniel Drive</h6>
        <h6>Clark, MO 65243</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-text text-center text-white py-5">
          <h2>AROUND THE WEB</h2>
          <i class="fa-brands fa-facebook mx-1"></i>
          <i class="fa-brands fa-twitter mx-1"></i>
          <i class="fa-brands fa-linkedin mx-1"></i>
          <i class="fa-solid fa-globe mx-1"></i>

        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-text text-center text-white py-5">
          <h2>ABOUT FREELANCER</h2>
        <p class="fw-normal">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="end text-center py-3">
    <p class="text-white">Copyright © Your Website 2021</p>
  </div>
</div>


