<div class="home text-center py-5 mt-5">
  <div class="container pt-5">
    <img src="../../assets/images/avataaars.svg" class="mb-3" alt="">
    <h1 class="text-white fw-bolder">START FRAMEWORK</h1>
    <div class="under-line d-flex justify-content-center my-3">
      <div class="half-line"></div>
      <i class="fa-solid fa-star mx-2 text-white"></i>
      <div class="half-line"></div>
  </div>
    <div class="footer pb-5">
      <h6 class="text-white">Graphic Artist - Web Designer - Illustrator</h6>
    </div>
  </div>
</div>

